@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");

.container {
  max-width: 1440px;
  padding: 0 40px;
  margin: 0 auto;
}

.btn {
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
}
.btn:hover {
  opacity: 0.7;
}

.main {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}